<style>
        body{
            background-color: white;
        }
        div{
            background-color: white;
            border: 1px solid white ;
            padding: 12px;
            width:75% ;
            margin: 0 auto;

        }
        fieldset{
            margin-bottom: 12px;
        }
        legend{
            background-color: white;
            padding: 5px;
            border-radius: 20px;
            font-weight: bold;
        }
        h1{
            font-family: "Arial";
            font-size: 16px;
        
        }
        p{
            font-family: "Arial";
            font-size: 12px;
        
        }
    
    </style>

